fastapi
uvicorn[standard]
streamlit
requests
python-multipart
pydantic
python-dotenv

langchain
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-core

chromadb
sentence-transformers
transformers
torch
pypdf
openai